/* Style for the grid layout */

body{
    background-image: url("images/whitesails4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-left:auto;   
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif; 
}

#wrapper {
    
    display: grid;
    grid-template-rows: auto auto auto;  /* Header, navigation, main content, footer */
    grid-template-columns: auto auto 1fr auto;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
}

/* Header styling */
header {
    grid-row: 1;
    grid-column: 1 / 5;
    border-radius:15px 100px 100px 15px;
    opacity: 0.8; 
    text-align: center;
    font-size: clamp(1.5rem, 1.5em, 3rem); /* Scales responsively */
    font-weight: bold; 
    text-shadow: 2px 2px 5px #03000c;
    color: #FFF;
    padding: 20px;
    background-image: linear-gradient(#e97132, #8FA5CE);  /* Light blue background for header */
    margin-bottom: 30px;
	padding: 1px;
}


/* Navigation thumbnail grid styling */
nav.thumbnails {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    gap: 20px;
    justify-items: center;
    
}

a img{
    border-radius:15px ;
    justify-content: space-around; 
    align-items: center;
   
}

/* Main content styling */
main {
    grid-row: 2;
    grid-column: 2 / 4;
    padding: 20px;
    /* background-color: #8ea0c5;  */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  Slight shadow for separation
}

.welcome-note h2 {
    font-size: 2em;
    color: #FFF;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    
}

.welcome-note p {
    font-family:Arial, Helvetica, sans-serif; 
    text-align: center;
    color:#FFF;
    font-size: 1.1em;
    line-height: 1.6;
    
}

/* Footer styling */
footer {
    grid-row: 4;
    grid-column: 1 / 5;
    text-align: center;
    padding: 15px;
    /* background-color: #f0f8ff; */
    font-size: 1em;
    color: #FFF;
}

footer hr {
    border: 1px solid #FFF;
    width: 80%;
    margin: 10px auto;
}

#ww_89485b6e18cb9 {
    grid-row: 2;
    grid-column: 4 / 5;
    height: 220px;
}

/* Responsive design */
@media (max-width: 768px) {
    .whitesails h1 {
        font-size: 1.8em;
    }
    
    .welcome-note h2 {
        font-size: 1.6em;
    }
    
    .welcome-note p {
        font-size: 1em;
    }
}
